html {
    font-size: 92%;
}

@media (min-device-width: 1600px) {
    html {
        font-size: 100%;
    }
}

@media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0) and (max-width: 575.98px)
{ @media {
    .table-responsive-sm {
        width: calc(100vw - 78px) !important;
    }
}}

@media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0) and (max-width: 400px)
{ @media {
    .table-responsive-xs {
        width: calc(100vw - 76px) !important;
    }
}}

.a98ef3r3e {
    min-height: 30px;
    display: flex;
    align-items: center;
}

._tu48jf {
    width: 60px;
}

tr.custom ._tu48jf {
    background: #C1FFC1;
}

tr i.fa-times {
    padding-left: 3px;
    display: none;    
}

tr.custom:hover i.fa-times {
    display: inline-block;
}

body {
    background: #5BC85B;
}

.container-iframe {
    width: 100%;
    padding: 15px;
}

.lineups-container {
    background: #f9f9f9;
    border-radius: 5px;
}

#dlg-preview .modal-lg {
    font-size: 0.81rem;
}

@media only screen and (min-device-width: 1200px) {
    .modal-lg {
        max-width: 900px !important;
    }
}

@media only screen and (min-device-width: 1400px) {
    .modal-lg {
        max-width: 1020px !important;
    }
}

th {
    border-top: none !important;
    border-bottom: 1px solid #dee2e6 !important;
}

.fav-frame {
    width: 100%;
    height: 100%;
    border: 1px solid #cbcbcb;
    z-index: 5;
    margin-top: -5px;
}

.fav-wrapper {
    position: fixed;
    bottom: 0;
    right: 5px;
    width: calc(100% - 10px);
    max-width: 310px;
    z-index: 3;
}

.fav-wrapper .fav-body {
    display: none;
}

.fav-wrapper.show-fav .fav-body {
    display: block;
    background: white;
}

.fav-body {
    height: 400px;
    border: solid 1px #4080ff;
    font-size: 0.88rem;
}

.fav-header {
    height: 42px;
    width: 100%;
    background: #4080ff;
    border-radius: 7px 7px 0 0;
    color: white;
    font-size: 0.94rem;
    cursor: pointer;
}

.fav-title {
    font-weight: 600;
    padding: 12px 16px;
    float: left;
}

.fav-close {
    float: right;
    padding-top: 15px;
    padding-right: 12px;
    cursor: pointer;
}

.fav {
    cursor: pointer;
    color: #aaa;
}

.fav.done {
    color: gold;
}

#frm-player {
    width: 100%;
}

.players-pane {
    border:  1px solid #eee;
    border-top: none;
    background: white;
}

.sub {
    font-size: 0.75rem;
    color: #555;
}

div.lineups {
    overflow-y: scroll; 
    height: calc(40vw + 7px);
    min-height: 360px;
}


#div-players {
    overflow-y: scroll; 
    height: 40vw;
    min-height: 360px;
    -webkit-overflow-scrolling: touch;
}

@media (min-width: 1600px) {
    div.lineups {
        height: calc(30vw + 7px)
    }

    #div-players {
        height: 30vw;
    }
}

#div-players td, 
#div-players th, 
#div-result td, 
#div-result th, 
#div-players td input {
    font-size: 0.81rem !important;
    vertical-align: middle;
}

table td {
    padding: .24rem .6rem !important;
}

table th {
    padding: .7rem .6rem !important;
}

.games {
    max-height: calc(100vh - 370px); 
    overflow-x: hidden;
}

.games table td {
    padding: .4rem 7px !important;
    font-size: 0.88rem;
}

.games table th {
    padding: .7rem 2px !important;
    font-size: 0.88rem;
    cursor: pointer;
}

.player-list {
    max-height: calc(100vh - 285px) !important; 
}

.player-list tbody {
    max-height: calc(100vh - 345px); 
}

.player-board {
    max-height: calc(100vh - 330px); 
    overflow-x: hidden;
}

.player-board table th {
    border-bottom: none !important;
}

.player-board tbody {
    max-height: calc(100vh - 390px); 
    overflow-x: hidden;
    display: block;
}

.player-board thead, .player-board tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.player-board thead {
    width: calc(100% - 10px);
}

.fav-inner thead, .fav-inner tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.fav-inner th {
    padding: .4rem .6rem !important;
}

.fav-inner thead {
    width: calc(100% - 14px);
}

.fav-inner tbody {
    max-height: 345px; 
    overflow-x: hidden;
    display: block;
}

.fas.lock {
    cursor: pointer;
}

.fa-lock-open {
    color: #ccc;
}

.btn-calc {
    width: 85px; 
    color: white !important;
}

.btn-export {
    width: 80px;
}

.btn-clear {
    width: 75px; 
    color: white !important;
}

@media (min-width: 568px) {
    .c0cec43 {
        display: inline;
    }
}

@media (max-width: 400px) {
    .table-responsive-xs {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }    
}

@media (min-width: 450px) {
    .btn-calc {
        width: 100px; 
    }

    .btn-export {
        width: 95px;
    }

    .btn-clear {
        width: 90px; 
    }
}

.num-lineups {
    width: 70px !important;
    text-align: right;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.2;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#search-player {
    width: calc(100% - 1.5rem);
    font-size: 0.88rem;
}

.position-filter .nav-item {
    width: 16.6666666666666%;
    text-align: center;
}

.position-filter .nav-item a {
    border-radius: 15px;
    height: 32px;
    font-size: 0.94rem;
    font-weight: 600;
    padding-top: 5px;
}

.filters label {
    font-size: 1rem;
    font-weight: 600;
    color: #555;
}

.filters select {
    padding: 3px 7px;
}

.filters .season {
    padding-top: 5px;
    font-size: 0.88rem;
    color: #777;
}

.filters .season.active {
    color: #007bff;
}

.board-loading {
    font-size: 1rem;
    font-weight: 700;
}

td.break {
    font-size: 0.56rem !important;
}

.slate {
    font-size: 0.81rem;
}

.slate a {
    font-weight: 700;
    font-size: 0.88rem;
    padding: 5px 14px;
}

.slate .form-check-label {
    cursor: pointer;
}

.slate-item {
    float: left;
    margin-right: 18px;
    margin-bottom: 10px;
    width: 100px;
}

.ds a {
    /*font-weight: 700;*/
    font-size: 0.94rem;
    /*padding: 5px 14px;*/
}

.slate-pane {
    position: absolute;
    top: 170px;
    left: 30px;
}

.game-item {
    background: #eee;
    border-radius: 10px;
    padding: 11px 17px;
    cursor: pointer;
    width: 115px;
    margin-bottom: 8px;
}

.game-item .form-check-input {
    margin-top: 22px;
    margin-left: -50px;
}

.game-item.active {
    color: white;
    font-weight: 700;
    background: #007bff;
}

.game-item.active .time {
    color: white;
}

.game-item .time {
    font-size: 0.75rem;
    color: #6c757d;
}

.team-board {
    font-size: 0.81rem;
}

.team-board th, .team-board td {
    padding: 3px 4px !important;
}

.team td {
    padding: 2px 4px !important;
}

.team-stat {
    font-size: 0.75rem;
    margin-bottom: 10px;
}

.team-stat th {
    padding: 4px 5px !important;
    font-size: 0.69rem;
    color: #555;
    cursor: pointer;
}

.team-stat .active {
    background: #01FF70;
}

.team-stat .title {
    font-weight: 700;
}

.team-stat.p-0 table {
    width: 100%;
}

.team-stat tr {
    table-layout: fixed;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.e34tuh43 {
    border: 1px solid #eee; 
    border-radius: 4px; 
    background: white;
}

.p954598g54 {
    margin-top: 36px;
    margin-bottom: 15px;
}

.j89g893t34 {
    /*margin-top: 38px;*/
    border: 1px solid #eee;
    border-radius: 4px;
    background: white;
    font-size: 0.81rem;
}

.j89g893t34 th {
    font-size: 0.88rem;
}

.j89g893t34 td {
    padding: .44rem .6rem !important;
    vertical-align: middle;
}

#div-lineup {
    padding-top: 40px; 
}

#accordion .card-header {
    padding: 0.35rem 1.25rem;
}

.sort-col {
    cursor: pointer;
}