<!DOCTYPE html>
<html lang="en">
<head>
  <title>GREEN LIGHT DFS</title>
</head>
<body>
  <div id="header">
    <div class="nav-trigger hamburger">
      <div class="open-btn">
        <span class="mobile"></span>
        <span class="mobile"></span>
        <span class="mobile"></span>
      </div>
    </div>
    <div id="sitename">
      <span class="wsite-logo">
        <span id="wsite-title">DFS SQUAD</span>
      </span>
    </div>
  </div>
  
  <script>
    window.setTimeout( function() {
     window.location = "https://greenlightdfs.com/optimizer.html";
   }, 100 );
  </script>
</body>
</html>
