{% extends 'base.html' %}
{% load extra %}

{% block content %}
<div class="container-iframe pt-3 mt-3 mb-3 lineups-container">
  <form id="frm-player" action="/export_lineups" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-12 mb-4">
        <h5 class="mb-4">Lineup Builder</h5>
        <a class="float-right mr-2" style="margin-top: -44px;" href="/lineup-optimizer">lineup optimizer</a>
        <h6 class="text-success">- Game Slates</h6>
        <div class="slate pl-3 pt-1 mb-2">
          {% for game in games %}
            <div class="slate-item">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" checked="" value="{{ game.home_team }}-{{ game.visit_team }}">{{ game.visit_team }} @ {{ game.home_team }}
                </label>
              </div>
              <div class="ml-4 text-secondary">( {{ game.date|date:"H:i" }} )</div>
            </div>
          {% endfor %}
        </div>
      </div>
      <input type="hidden" name="ds" id="ds">
      <div class="col-md-7 mb-4 pr-md-2">
        <ul class="nav nav-tabs ds">
          {% for ds in data_sources %}  
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#home">{{ ds.0 }}</a>
          </li>
          {% endfor %}
        </ul>
        <div class="tab-content players-pane p-2">
          <ul class="nav nav-pills position-filter p-2">
            <li class="nav-item">
              <a class="nav-link active" href="#">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SF</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PF</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">C</a>
            </li>
          </ul>
          <input class="form-control m-2 mb-3" id="search-player" type="search" placeholder="Search Player Name" autocomplete="off">
          <div id="div-players"></div>
        </div>
      </div>

      <div class="col-md-5 pl-md-2" id="div-lineup">
      </div>
    </div>
  </form>
</div>  
{% endblock %}

{% block script %}
  <script src="/static/js/lineup.js"></script>
{% endblock %}
