{% load humanize %}

<div class="jumbotron py-4 pl-3 p954598g54 pr-2">
  <span>Selected Players: </span><span class="font-weight-bold"> {{ players.count }}</span><br>
  <span>Lineup Projection Average: </span><span class="font-weight-bold"> {{ avg_points|floatformat:2 }}</span>
</div>
<div class="pb-2 e34tuh43">
  <div class="lineups p-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Team</th>
          <th title="Number of lineups involved">Cnt</th>
        </tr>
      </thead>
      <tbody>
        {% for ii in players_ %}
          <tr>
            <td>
              <a href="#/players/{{ ii.id }}">
                <div class="float-left">
                  <img src="{{ ii.avatar }}" height="30" class="mr-2">
                </div>
                <div class="a98ef3r3e">{{ ii.name }}</div>
              </a>
            </td>
            <td>{{ ii.position }}</td>
            <td>{{ ii.team }}</td>
            <td>{{ ii.lineups }}</td>
          </tr>
        {% endfor %}
      </tbody>  
    </table>
  </div>
</div>
