{% load extra %}
<table class="table table-hover table-responsive-sm">
  <thead>
    <tr>
      <th><input type="checkbox" id="chk-all" checked="" onclick="choose_all(this)"></th>
      <th colspan="2">Player</th>
      <th class="text-right pr-3">Salary</th>
      <th class="">Projections</th>
      <th class="" colspan="2">PT/Sal</th>
    </tr>
  </thead>
  <tbody>
    {% for ii in players %}
      <tr>
        <td><input type="checkbox" name="ids" {% if not ii.injury %} checked="" {% endif %} value="{{ ii.id }}"></td>
        <td style="cursor: pointer;" onclick="pr_click(this)">
          <img src="{{ ii.avatar }}" height="30" class="mr-2"> {{ ii.actual_position }}
        </td>
        <td>
          <a href="#/players/{{ ii.id }}">
            <div>
              <span>{{ ii.first_name }} {{ ii.last_name }}</span>
              {% if ii.injury %}
                <span class="text-danger font-weight-bold ml-3">{{ ii.injury }}</span>
              {% endif %}
            </div>
            <div class="sub">{{ ii.team }} {{ ii.opponent1 }}</div>
          </a>
        </td>
        <td class="text-right pr-3">{% if ds != 'Yahoo' %}${% endif %}{{ ii.salary|floatformat:0 }}</td>
        <td class="pl-3">
          <input type="text" class="form-control text-right pl-0 pr-3" data-id="{{ ii.id }}" value="{{ ii.proj_points }}" style="width: 60px;" onchange="change_point(this);" readonly="">
        </td>
        <td>{{ ii|salery_per_projection:ds }}</td>
        <td>
          <i class="fas fa-lock-open fa-md lock unlocked plb-{{ ii.id }}" onclick="toggleLock(this, {{ ii.id }});"></i>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
