{% load extra %}
<table class="table table-hover table-responsive-md">
<thead>
  <tr>
    <th>Player</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th>
    <th>POS</th>
    <th>TM</th>
    <th>H/A</th>
    <th>VS</th>
    <th>Salary</th><th>&nbsp;</th>
    <th>AMPG</th>
    <th>SMPG</th>
    <th>MDIFF</th>
    <th>OPP</th>
    <th>OPR</th>
    <th>AFP</th>
    <th>SFP</th>
    <th>PDIFF</th>
    <th>VAL</th>
    <th>PPR</th>
    <th>INJ</th>
    <th></th>
  </tr>
</thead>
  <tbody>
    {% for ii in players %}
      <tr>
        {% if ii %}
          <td colspan="5"><a href="/players/{{ ii.id }}"><img src="{{ ii.avatar }}" height="24" class="mr-2">{{ ii.name }}</a></td>
          <td>{{ ii.pos }}</td>
          <td>{{ ii.team }}</td>
          <td>{{ ii.loc }}</td>
          <td><a href="#/team-match-up-board/{{ ii.vs }}">{{ ii.vs }}</a></td>
          <td colspan="2">$ {{ ii.salary|floatformat:2 }}</td>
          <td>{{ ii.ampg|floatformat:1 }}</td>
          <td>{{ ii.smpg|floatformat:1 }}</td>
          <td class="{% if '(' in ii.mdiff %}text-danger{% else %}text-success{% endif %}">
            {{ ii.mdiff }}
          </td>
          <td>{{ ii.opp|floatformat:1 }}</td>
          <td class="text-center" style="color: #ffff00; font-weight: 700; background: {{ ii.color }};">{{ ii.opr }}</td>
          <td>{{ ii.afp|floatformat:1 }}</td>
          <td>{{ ii.sfp|floatformat:1 }}</td>
          <td class="{% if '(' in ii.pdiff %}text-danger{% else %}text-success{% endif %}">
            {{ ii.pdiff }}
          </td>
          <td>{{ ii.val|floatformat:1 }}</td>
          <td>{{ ii.ppr }}</td>
          <td class="{% if ii.inj != '-' %}text-danger{% endif %}">{{ ii.inj }}</td>
          <td><i class="far fa-thumbs-up fav {{ ii.uid|liked }}" data-uid="{{ ii.uid }}"></i></td>
        {% else %}
          <td colspan="17" class="break">&nbsp;</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
