{% load extra %}
<table class="table table-hover table-responsive-sm">
  <thead>
    <tr>
      <th><input type="checkbox" id="chk-all" checked="" onclick="choose_all(this)"></th>
      <th colspan="2">Player</th>
      <th class="text-right sort-col" data-order="salary">Salary <i class="fas fa-sort-amount-down {% if order != 'salary' %} d-none {% endif %}"></i></th>
      <th class="sort-col" data-order="proj_points">Projections <i class="fas fa-sort-amount-down {% if order != 'proj_points' %} d-none {% endif %}"></i></th>
      <th class="sort-col" data-order="pt_sal" colspan="2">PT/Sal <i class="fas fa-sort-amount-down {% if order != 'pt_sal' %} d-none {% endif %}"></i></th>
    </tr>
  </thead>
  <tbody>
    {% for ii in players %}
      <tr class="{{ ii|cus_proj_cls:request.session }}">
        <td><input type="checkbox" name="ids" {% if not ii.injury %} checked="" {% endif %} value="{{ ii.id }}"></td>
        <td style="cursor: pointer;" onclick="pr_click(this)">
          <img src="{{ ii.avatar }}" height="30" class="mr-2"> {{ ii.actual_position }}
        </td>
        <td>
          <a href="#/players/{{ ii.id }}">
            <div>
              <span>{{ ii.first_name }} {{ ii.last_name }}</span>
              {% if ii.injury %}
                <span class="text-danger font-weight-bold ml-3">{{ ii.injury }}</span>
              {% endif %}
            </div>
            <div class="sub">{{ ii.team }}</div>
          </a>
        </td>
        <td class="text-right pr-3">{% if ds != 'Yahoo' %}${% endif %}{{ ii.salary|floatformat:0 }}</td>
        <td class="pl-3">
          <input type="number" min="0" max="100" step="0.1" class="form-control d-inline text-right pl-0 pr-1 _tu48jf" data-id="{{ ii.id }}" value="{{ ii|cus_proj:request.session }}" onchange="change_point(this, 1);">
          <i class="fas fa-times" onclick="clear_proj(this);"></i>
        </td>
        <td class="pt-sal">{{ ii.pt_sal|floatformat:1 }}</td>
        <td>
          <i class="fas fa-lock-open fa-md lock unlocked plb-{{ ii.id }}" onclick="toggleLock(this, {{ ii.id }});"></i>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
