{% load humanize %}

<div class="pb-2 e34tuh43">
  <div class="lineups p-2">
    <table class="table table-hover table-responsive-sm table-striped">
      <thead>
        <tr>
          <th></th>
          {% for ii in header %}
            <th>{{ ii }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for ii in rows %}
          <tr>
            <td>{{ forloop.counter }}</td>
            {% for jj in ii %}
              <td>{{ jj }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>  
    </table>
  </div>
</div>
