{% load humanize %}
{% load extra %}

{% if ds == "FanDuel" %}<div class="text-danger pb-2">Expected drop in red</div>{% endif %}
<div class="pb-2 e34tuh43">
  <div class="lineups p-2">
    <table class="table table-hover table-responsive-sm table-striped">
      <thead>
        <tr>
          <th></th>
          {% for ii in header %}
            <th>{{ ii }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for ii in rows %}
          <tr>
            <td>{{ forloop.counter }}</td>
            {% for jj in ii.0 %}
              <td class="{{ jj|check_drop:ii.1 }}">{{ jj }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>  
    </table>
  </div>
</div>
