{% load extra %}
<div class="col-md-7 p-0 mb-4">
  <h5 class="text-center">Player Situational Averages</h5>
  <h6 class="text-danger title">
    <img src="/static/img/team/{{ game.visit_team }}.jpg" width="50" class="mr-3">
    <strong>Away Team: {{ game.visit_team }} <span class="text-body">( W: {{ teams.away.wins }}, L: {{ teams.away.losses }}, {{ teams.away.win_percent|floatformat:1 }} % )</span></strong>
  </h6>
  <table class="table table-hover table-responsive-md team">
    <thead>
      <tr>
        <th>Player</th><th>&nbsp;</th><th>&nbsp;</th>
        <th>Salary</th><th>&nbsp;</th>
        <th>POS</th>
        <th>GP</th>
        <th>RPG</th>
        <th>APG</th>
        <th>SPG</th>
        <th>BPG</th>
        <th>PPG</th>
        <th>TOV</th>
        <th>SFP</th>
        <th>MPG</th>
        <th>AFP</th>
        <th>VAL</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for ii in teams.away.players %}
        <tr>
          {% if ii %}
            <td colspan="3"><a href="/players/{{ ii.id }}"><img src="{{ ii.avatar }}" height="24" class="mr-2">{{ ii.name }}</a></td>
            <td colspan="2">$ {{ ii.salary|floatformat:2 }}</td>
            <td>{{ ii.pos }}</td>
            <td>{{ ii.gp }}</td>
            <td>{{ ii.rpg|floatformat:1 }}</td>
            <td>{{ ii.apg|floatformat:1 }}</td>
            <td>{{ ii.spg|floatformat:1 }}</td>
            <td>{{ ii.bpg|floatformat:1 }}</td>
            <td>{{ ii.ppg|floatformat:1 }}</td>
            <td>{{ ii.tov|floatformat:1 }}</td>
            <td class="{% if ii.sfp > ii.afp|add:5 %}text-danger{% else %}text-primary{% endif %}">
              {{ ii.sfp|floatformat:1 }}
            </td>
            <td>{{ ii.ampg|floatformat:1 }}</td>
            <td>{{ ii.afp|floatformat:1 }}</td>
            <td>{{ ii.val|floatformat:1 }}</td>
            <td><i class="far fa-thumbs-up fav {{ ii.uid|liked }}" data-uid="{{ ii.uid }}"></i></td>
          {% else %}
            <td colspan="17" class="break">&nbsp;</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="col-md-5 pr-0">
  <div class="row">
    <div class="offset-md-1 col-md-11 mt-1">
      <h5 class="text-center">Team Situational Averages</h5>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row" style="margin-top: 60px;">
    <div class="offset-md-1 col-md-6">
      <div class="col-md-12 team-stat pl-0">
        <div class="text-danger pl-1 title">TM FPA RANK WHEN AWAY</div>
        <table class="fps-rank">
          <tr>
            <th>RPG</th>
            <th>APG</th>
            <th>SPG</th>
            <th>BPG</th>
            <th>TOPG</th>
            <th>PPG</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>{{ teams.away_stat.rpg_rank }}</td>
            <td>{{ teams.away_stat.apg_rank }}</td>
            <td>{{ teams.away_stat.spg_rank }}</td>
            <td>{{ teams.away_stat.bpg_rank }}</td>
            <td>{{ teams.away_stat.tov_rank }}</td>
            <td>{{ teams.away_stat.ppg_rank }}</td>
            <td>{{ teams.away_stat.total_rank }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-12 team-stat pl-0">
        <div class="text-danger pl-1 title">TM FPA WHEN AWAY</div>
        <table class="fps">
          <tr>
            <th>RPG</th>
            <th>APG</th>
            <th>SPG</th>
            <th>BPG</th>
            <th>TOPG</th>
            <th>PPG</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>{{ teams.away_stat.rpg|floatformat:1 }}</td>
            <td>{{ teams.away_stat.apg|floatformat:1 }}</td>
            <td>{{ teams.away_stat.spg|floatformat:1 }}</td>
            <td>{{ teams.away_stat.bpg|floatformat:1 }}</td>
            <td>{{ teams.away_stat.tov|floatformat:1 }}</td>
            <td>{{ teams.away_stat.ppg|floatformat:1 }}</td>
            <td>{{ teams.away_stat.total|floatformat:1 }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-12 team-stat pl-0">
        <div class="text-success pl-1 title">TM FPS RANK WHEN AWAY</div>
        <table class="fpa-rank">
          <tr>
            <th>RPG</th>
            <th>APG</th>
            <th>SPG</th>
            <th>BPG</th>
            <th>TOPG</th>
            <th>PPG</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>{{ teams.away_stat.s_rpg_rank }}</td>
            <td>{{ teams.away_stat.s_apg_rank }}</td>
            <td>{{ teams.away_stat.s_spg_rank }}</td>
            <td>{{ teams.away_stat.s_bpg_rank }}</td>
            <td>{{ teams.away_stat.s_tov_rank }}</td>
            <td>{{ teams.away_stat.s_ppg_rank }}</td>
            <td>{{ teams.away_stat.s_total_rank }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-12 team-stat pl-0">
        <div class="text-success pl-1 title">TM FPS WHEN AWAY</div>
        <table class="fpa">
          <tr>
            <th>RPG</th>
            <th>APG</th>
            <th>SPG</th>
            <th>BPG</th>
            <th>TOPG</th>
            <th>PPG</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>{{ teams.away_stat.s_rpg|floatformat:1 }}</td>
            <td>{{ teams.away_stat.s_apg|floatformat:1 }}</td>
            <td>{{ teams.away_stat.s_spg|floatformat:1 }}</td>
            <td>{{ teams.away_stat.s_bpg|floatformat:1 }}</td>
            <td>{{ teams.away_stat.s_tov|floatformat:1 }}</td>
            <td>{{ teams.away_stat.s_ppg|floatformat:1 }}</td>
            <td>{{ teams.away_stat.s_total|floatformat:1 }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-5 p-0 mb-2">
      <div class="col-md-12 team-stat p-0">
        <div class="text-danger pl-1 title">TM POS FPA RANK WHEN AWAY</div>
        <table class="pos-fps-rank">
          <tr>
            <th>PG</th>
            <th>SG</th>
            <th>SF</th>
            <th>PF</th>
            <th>C</th>
          </tr>
          <tr>
            <td>{{ teams.away_stat.PG_rank }}</td>
            <td>{{ teams.away_stat.SG_rank }}</td>
            <td>{{ teams.away_stat.SF_rank }}</td>
            <td>{{ teams.away_stat.PF_rank }}</td>
            <td>{{ teams.away_stat.C_rank }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-12 team-stat p-0">
        <div class="text-danger pl-1 title">TM POS FPA WHEN AWAY</div>
        <table class="pos-fps">
          <tr>
            <th>PG</th>
            <th>SG</th>
            <th>SF</th>
            <th>PF</th>
            <th>C</th>
          </tr>
          <tr>
            <td>{{ teams.away_stat.PG|floatformat:1 }}</td>
            <td>{{ teams.away_stat.SG|floatformat:1 }}</td>
            <td>{{ teams.away_stat.SF|floatformat:1 }}</td>
            <td>{{ teams.away_stat.PF|floatformat:1 }}</td>
            <td>{{ teams.away_stat.C |floatformat:1 }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-12 team-stat p-0">
        <div class="text-success pl-1 title">TM POS FPS RANK WHEN AWAY</div>
        <table class="pos-fpa-rank">
          <tr>
            <th>PG</th>
            <th>SG</th>
            <th>SF</th>
            <th>PF</th>
            <th>C</th>
          </tr>
          <tr>
            <td>{{ teams.away_stat.s_PG_rank }}</td>
            <td>{{ teams.away_stat.s_SG_rank }}</td>
            <td>{{ teams.away_stat.s_SF_rank }}</td>
            <td>{{ teams.away_stat.s_PF_rank }}</td>
            <td>{{ teams.away_stat.s_C_rank }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-12 team-stat p-0 mb-5">
        <div class="text-success pl-1 title">TM POS FPS WHEN AWAY</div>
        <table class="pos-fpa">
          <tr>
            <th>PG</th>
            <th>SG</th>
            <th>SF</th>
            <th>PF</th>
            <th>C</th>
          </tr>
          <tr>
            <td>{{ teams.away_stat.s_PG|floatformat:1 }}</td>
            <td>{{ teams.away_stat.s_SG|floatformat:1 }}</td>
            <td>{{ teams.away_stat.s_SF|floatformat:1 }}</td>
            <td>{{ teams.away_stat.s_PF|floatformat:1 }}</td>
            <td>{{ teams.away_stat.s_C |floatformat:1 }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<div class="col-md-7 p-0">
  <h6 class="text-success pt-2 title">
    <img src="/static/img/team/{{ game.home_team }}.jpg" width="50" class="mr-3">
    <strong>Home Team: {{ game.home_team }} <span class="text-body">( W: {{ teams.home.wins }}, L: {{ teams.home.losses }}, {{ teams.home.win_percent|floatformat:1 }} % )</span></strong>
  </h6>
  <table class="table table-hover table-responsive-md team">
    <thead>
      <tr>
        <th>Player</th><th>&nbsp;</th><th>&nbsp;</th>
        <th>Salary</th><th>&nbsp;</th>
        <th>POS</th>
        <th>GP</th>
        <th>RPG</th>
        <th>APG</th>
        <th>SPG</th>
        <th>BPG</th>
        <th>PPG</th>
        <th>TOV</th>
        <th>SFP</th>
        <th>MPG</th>
        <th>AFP</th>
        <th>VAL</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for ii in teams.home.players %}
        <tr>
          {% if ii %}
            <td colspan="3"><a href="/players/{{ ii.id }}"><img src="{{ ii.avatar }}" height="24" class="mr-2">{{ ii.name }}</a></td>
            <td colspan="2">$ {{ ii.salary|floatformat:2 }}</td>
            <td>{{ ii.pos }}</td>
            <td>{{ ii.gp }}</td>
            <td>{{ ii.rpg|floatformat:1 }}</td>
            <td>{{ ii.apg|floatformat:1 }}</td>
            <td>{{ ii.spg|floatformat:1 }}</td>
            <td>{{ ii.bpg|floatformat:1 }}</td>
            <td>{{ ii.ppg|floatformat:1 }}</td>
            <td>{{ ii.tov|floatformat:1 }}</td>
            <td class="{% if ii.sfp > ii.afp|add:5 %}text-danger{% else %}text-primary{% endif %}">
              {{ ii.sfp|floatformat:1 }}
            </td>
            <td>{{ ii.ampg|floatformat:1 }}</td>
            <td>{{ ii.afp|floatformat:1 }}</td>
            <td>{{ ii.val|floatformat:1 }}</td>
            <td><i class="far fa-thumbs-up fav {{ ii.uid|liked }}" data-uid="{{ ii.uid }}"></i></td>
          {% else %}
            <td colspan="17" class="break">&nbsp;</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="col-md-5 pr-0" style="margin-top: 64px;">
  <div class="row">
    <div class="offset-md-1 col-md-6">
      <div class="col-md-12 team-stat pl-0">
        <div class="text-danger pl-1 title">TM FPA RANK WHEN @ HOME</div>
        <table class="fpa-rank">
          <tr>
            <th>RPG</th>
            <th>APG</th>
            <th>SPG</th>
            <th>BPG</th>
            <th>TOPG</th>
            <th>PPG</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>{{ teams.home_stat.rpg_rank }}</td>
            <td>{{ teams.home_stat.apg_rank }}</td>
            <td>{{ teams.home_stat.spg_rank }}</td>
            <td>{{ teams.home_stat.bpg_rank }}</td>
            <td>{{ teams.home_stat.tov_rank }}</td>
            <td>{{ teams.home_stat.ppg_rank }}</td>
            <td>{{ teams.home_stat.total_rank }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-12 team-stat pl-0">
        <div class="text-danger pl-1 title">TM FPA WHEN @ HOME</div>
        <table class="fpa">
          <tr>
            <th>RPG</th>
            <th>APG</th>
            <th>SPG</th>
            <th>BPG</th>
            <th>TOPG</th>
            <th>PPG</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>{{ teams.home_stat.rpg|floatformat:1 }}</td>
            <td>{{ teams.home_stat.apg|floatformat:1 }}</td>
            <td>{{ teams.home_stat.spg|floatformat:1 }}</td>
            <td>{{ teams.home_stat.bpg|floatformat:1 }}</td>
            <td>{{ teams.home_stat.tov|floatformat:1 }}</td>
            <td>{{ teams.home_stat.ppg|floatformat:1 }}</td>
            <td>{{ teams.home_stat.total|floatformat:1 }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-12 team-stat pl-0">
        <div class="text-success pl-1 title">TM FPS RANK WHEN @ HOME</div>
        <table class="fps-rank">
          <tr>
            <th>RPG</th>
            <th>APG</th>
            <th>SPG</th>
            <th>BPG</th>
            <th>TOPG</th>
            <th>PPG</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>{{ teams.home_stat.s_rpg_rank }}</td>
            <td>{{ teams.home_stat.s_apg_rank }}</td>
            <td>{{ teams.home_stat.s_spg_rank }}</td>
            <td>{{ teams.home_stat.s_bpg_rank }}</td>
            <td>{{ teams.home_stat.s_tov_rank }}</td>
            <td>{{ teams.home_stat.s_ppg_rank }}</td>
            <td>{{ teams.home_stat.s_total_rank }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-12 team-stat pl-0">
        <div class="text-success pl-1 title">TM FPS WHEN @ HOME</div>
        <table class="fps">
          <tr>
            <th>RPG</th>
            <th>APG</th>
            <th>SPG</th>
            <th>BPG</th>
            <th>TOPG</th>
            <th>PPG</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>{{ teams.home_stat.s_rpg|floatformat:1 }}</td>
            <td>{{ teams.home_stat.s_apg|floatformat:1 }}</td>
            <td>{{ teams.home_stat.s_spg|floatformat:1 }}</td>
            <td>{{ teams.home_stat.s_bpg|floatformat:1 }}</td>
            <td>{{ teams.home_stat.s_tov|floatformat:1 }}</td>
            <td>{{ teams.home_stat.s_ppg|floatformat:1 }}</td>
            <td>{{ teams.home_stat.s_total|floatformat:1 }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-5 p-0">
      <div class="col-md-12 team-stat p-0">
        <div class="text-danger pl-1 title">TM POS FPA RANK WHEN @ HOME</div>
        <table class="pos-fpa-rank">
          <tr>
            <th>PG</th>
            <th>SG</th>
            <th>SF</th>
            <th>PF</th>
            <th>C</th>
          </tr>
          <tr>
            <td>{{ teams.home_stat.PG_rank }}</td>
            <td>{{ teams.home_stat.SG_rank }}</td>
            <td>{{ teams.home_stat.SF_rank }}</td>
            <td>{{ teams.home_stat.PF_rank }}</td>
            <td>{{ teams.home_stat.C_rank }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-12 team-stat p-0">
        <div class="text-danger pl-1 title">TM POS FPA WHEN @ HOME</div>
        <table class="pos-fpa">
          <tr>
            <th>PG</th>
            <th>SG</th>
            <th>SF</th>
            <th>PF</th>
            <th>C</th>
          </tr>
          <tr>
            <td>{{ teams.home_stat.PG|floatformat:1 }}</td>
            <td>{{ teams.home_stat.SG|floatformat:1 }}</td>
            <td>{{ teams.home_stat.SF|floatformat:1 }}</td>
            <td>{{ teams.home_stat.PF|floatformat:1 }}</td>
            <td>{{ teams.home_stat.C |floatformat:1 }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-12 team-stat p-0">
        <div class="text-success pl-1 title">TM POS FPS RANK WHEN @ HOME</div>
        <table class="pos-fps-rank">
          <tr>
            <th>PG</th>
            <th>SG</th>
            <th>SF</th>
            <th>PF</th>
            <th>C</th>
          </tr>
          <tr>
            <td>{{ teams.home_stat.s_PG_rank }}</td>
            <td>{{ teams.home_stat.s_SG_rank }}</td>
            <td>{{ teams.home_stat.s_SF_rank }}</td>
            <td>{{ teams.home_stat.s_PF_rank }}</td>
            <td>{{ teams.home_stat.s_C_rank }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-12 team-stat p-0">
        <div class="text-success pl-1 title">TM POS FPS WHEN @ HOME</div>
        <table class="pos-fps">
          <tr>
            <th>PG</th>
            <th>SG</th>
            <th>SF</th>
            <th>PF</th>
            <th>C</th>
          </tr>
          <tr>
            <td>{{ teams.home_stat.s_PG|floatformat:1 }}</td>
            <td>{{ teams.home_stat.s_SG|floatformat:1 }}</td>
            <td>{{ teams.home_stat.s_SF|floatformat:1 }}</td>
            <td>{{ teams.home_stat.s_PF|floatformat:1 }}</td>
            <td>{{ teams.home_stat.s_C |floatformat:1 }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
